<div class="main">
  <h2><%= @user.name %>のページ</h2>
  <div class="user-info">
    <p>メールアドレス: <%= @user.email %></p>
  </div>
  <div class="user-favorites">
    <h3>お気に入りのSHOUT!</h3>
    <% @favorite_blogs.each do |favorite_blog| %>
      <div class="posts-index-item">
      <p><%= favorite_blog.content %></p>
      <div class="posts-index-menus">
        <%= link_to "詳細", blog_path(favorite_blog.id) %>
      </div>
    </div>
  <% end %>
  </div>
</div>
