<div class="top-main">
  <div class="top-message">
    <h2>SHOUT!</h2>
    <p>想いを叫べば、何かが変わるかも。</p>
  </div>
</div>
  <div class="top-contents">
  	<div>
  		<p>『SHOUT!〜想いを叫べば、何かが変わるかも〜』は、想いを叫ぶことのできるプラットフォームです。</p>
  		<p>Hogehogeな時、Fugafugaな時、SHOUT!で想いを叫んでみましょう。何かが変わるかもしれません。</p>
  </div>
  <div class="link-to-post">
  	<a href="/blogs/new" type="button" class="btn btn-default btn-lg">さっそくSHOUT!する</a>
  </div>
</div>