// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* blogs/index ============================ */

.main {
	padding-top: 30px;
	padding-bottom: 60px;
}

.main h2 {
	padding: 20px 0px;
	text-align: center;
	color: #6E6E6E;
}

.notice {
	color: #F7819F;
	text-align: center;
	font-size: 2rem;
  margin-top: 30px;
}

.posts-index-item {
  padding: 20px 30px;
  background-color: #FAFAFA;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width:768px) {
  .posts-index-item {
    padding: 20px 30px;
    background-color: #FAFAFA;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
    width: 600px;
    margin: 0 auto;
  }
}

.posts-index-item p {
	color: #610B0B;
	font-size: 2rem;
}

.user-name {
  font-weight: bold;
}

.posts-index-menus {
	float: right;
}

.posts-index-menus a {
	color: #848484;
	text-decoration: none;
}

.posts-index-menus a:hover {
	color: #04B486;
}

/* blogs/form ============================ */

.error-message {
	text-align: center;
	color: red;
	margin-bottom: 20px;
}

.form-main {
  padding: 20px 30px;
  background-color: #FAFAFA;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width:768px) {
  .form-main {
    padding: 20px 30px;
    background-color: #FAFAFA;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
    width: 600px;
    margin: 0 auto;
  }
}


.form-content {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.form-content input {
  width: 80%;
}

.form-submit {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.form-menus {
	margin-top: 60px;
}

/* blogs/show ============================ */

.link-to-index {
  text-align: center;
}

.fav-btn {
  margin: 50px auto;
  text-align: center;
}

/* blogs/confirm ============================ */

.confirm-content {
	margin: 0 auto;
	text-align: center;
}

