// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error_explanation {
  text-align: center;
  color: #F7819F;
}

.user-info {
  text-align: center;
}

.sign-up {
  text-align: center;
}

.sign-up li {
  margin-top: 10px;
}

.sign-up-submit {
  margin: 30px auto;
}

